body{
    background-color: rgba(58, 61, 50, 0.636);
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 3%;
    font-size: 35px;
}

.catalog{
    display: flex;
    justify-content:space-around;
    margin-top: 8%;
    
}
.userSignIn,.roomBooking, .cotact, .resturant {
    position: relative;
    width: 300px; 
    height: 300px; 
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 0.55px 0.5px black;

}

.Image{
    width: 100%; 
    height: auto; 
    position: relative; 
    z-index: 1;
    border-radius: 10px;
    transition: 0.3s;
}

.Image:hover{
   transform: scale(1.15);
}

.Text, .Button {
    position: absolute;
    color: white; 
    background: rgba(102, 102, 102, 0.6); 
    z-index: 2; 
    padding-right: 0.5em;
    padding-left: 0.5em;

}



.Button{
    margin-left: -61%;
    margin-top: 110%;
    padding: 1em;
    text-shadow: 1px 1px black;
    border: none;
    border-radius: 15px;
    width: 85px;
    font-size: 15px;
    background-color: rgb(23, 110, 181);
   
}

.Text{
    margin-top: -20%;
    margin-left: 26%;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    text-shadow: black 1px 1.5px;
}



.userSignIn .Button
{
    margin-left: -70%;
}

.roomBooking .Text
{
    margin-left: 22%;
}

.Button:hover{
    cursor: pointer;
    opacity: 80%;
    background-color: rgb(23, 70, 111);
}







