

body{

    background-image: url("contactUs.jpg");
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    color: #7f7768;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: #bdab0bf0;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}


.contact-info i {
    margin-right: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 3;
}

.contact-form h2 {
    color: #2f717cf8;
    text-align:right;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;

}


.contact-form .textbox {
    background: #000;
    color: #fff;
    border: none;
    width: 100%; 
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .textbox:first-child {
    margin-right: 0;
}

.contact-form textarea {
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}


.contact-form .send_btn {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.send_btn:hover {
    background: #f09e06;
    transition: 0.9ms;
    transform-style: preserve-3d;
    transition-duration:0.3ms;
}

.contact-info i:hover{

    background: #ec9f04;
    transition:width 2s,height 1s,transform 2s;
    transform-style: preserve-3d;
    transition-duration:0.3ms;
    transform: scale(1.5);
    
}
 
 